<div>
    <mat-toolbar color="primary" class="toolbar">
        <mat-toolbar-row id="logo-row">
            <img src="assets/images/logo_EG_homepage.png" alt="logo" routerLink="/hjem">
        </mat-toolbar-row>

        <mat-toolbar-row id="links-row">
            <a class="link" routerLink="/hold">Hold</a>
            <a class="link" routerLink="/events">Events</a>
            <a class="link" routerLink="/kontakt">Kontakt</a>
            <a class="link" routerLink="/ommig">Om mig</a>
            <a class="link" [matMenuTriggerFor]="medlemskaber">Medlemskab</a>
            <mat-menu #medlemskaber="matMenu" yPosition="below">
                    <a mat-menu-item routerLink="/medlemskab">Tilmeld</a>
                @if (!authService.currentUserSig()){
                    <a mat-menu-item (click)="openLoginDialog()">Login</a>
                }
                @if (authService.currentUserSig()){
                    <a mat-menu-item (click)="logOut()" routerLink="/hjem">Logud</a>
                    <a mat-menu-item routerLink="/profil">Min side</a>
                }
            </mat-menu>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
