.content{
    min-height: calc(100vh - 369px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    margin: 20px;
}

form{
    width: 100%;
    margin: 20px;
}

mat-form-field{
    width: 100%;
}

.send-button{
    float: right;
    width: 200px;
    height: 50px;
    font-size: 1.3rem;
}

textarea{
    min-height: 100px;
}

.directions{
    margin: 25px;
}

iframe{
    width: 100%;
}


/*MEDIA*/

@media screen and (max-width: 768px) {
    form{
        width: 90%;
        margin: 20px;
    }
}